version: '3.8'

services:
  ebenevo-bot:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./data:/app/data  # Монтирует папку data на хосте в контейнер
    restart: unless-stopped  # Автоматический перезапуск при сбоях
    environment:
      - PYTHONUNBUFFERED=1  # Для корректного вывода логов